$accent-color: #fcc001;
$button-color: #2835dd;
$base-text-color: #151515;
$menu-nav-color: #1e1e1e;
$calc-button-bg-color: #282828;
$white-color: #fff;
$bg-item-card-color: #faf9f9;
$bg-text-color: #5353530d;
$text-color: #292929;

$minWidth: 320;
$maxWidth: 1440;
